/* Icons from directory "" */
.icon-gp_off,.icon-gp_off\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-gp_off-dims{width:22px;height:22px}
.icon-gp_on,.icon-gp_on\:regular{background-image:url('icons/icons.png');background-position:0 -22px;background-repeat:no-repeat}
.icon-gp_on-dims{width:22px;height:22px}